<mat-card>
  <mat-card-content>
    <mat-card-header>
      <mat-card-title class="text-center">Movimentos</mat-card-title>
    </mat-card-header>
      <div class="form-container">
        <div class="form-left">
        <form [formGroup]="movimentoForm" >
    
          <div class="form-row-group">
            <div class="form-row">
              <label class="form-label">Mês:</label>
              <mat-form-field appearance="fill" class="form-input">
                <input matInput type="number" min="1" max="12" formControlName="datMes" />
              </mat-form-field>
            </div>
          
            <div class="form-row">
              <label class="form-label">Ano:</label>
              <mat-form-field appearance="fill" class="form-input">
                <input matInput formControlName="datAno" maxlength="4" pattern="[0-9]*" />
              </mat-form-field>
            </div>
          </div>
    
          <div class="form-row-group">
            <div class="form-row">
            <label class="form-label">Produto:</label>
            <mat-form-field appearance="fill" class="form-input">
              <mat-select formControlName="codProduto">
                <mat-option *ngFor="let produto of produtos" [value]="produto.codProduto">
                  {{ produto.desProduto }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
    
          <div class="form-row">
            <label class="form-label">Cosif:</label>
            <mat-form-field appearance="fill" class="form-input">
              <mat-select formControlName="codCosif">
                <mat-option *ngFor="let cosif of cosifs" [value]="cosif.codCosif">
                  {{ cosif.codCosif }} - ({{ cosif.codClassificacao }})
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>

        </div>
    
          <div class="form-row">
            <label class="form-label">Valor</label>
            <mat-form-field appearance="fill" class="form-input half-width">
              <input matInput formControlName="valValor" class="money-input"  (input)="formatarValor()" />
            </mat-form-field>
          </div>
    
          <div class="form-row">
            <label class="form-label">Descrição</label>
            <mat-form-field appearance="fill" class="form-input">
              <textarea matInput formControlName="desDescricao" maxlength="200"></textarea>
            </mat-form-field>
          </div>
    
          <div class="text-right mt-2">
            <button mat-raised-button color="primary" (click)="limpar()">Limpar</button>
            <button mat-raised-button color="primary" (click)="novo()">Novo</button>
            <button mat-raised-button color="accent" (click)="criarMovimento()" [disabled]="movimentoForm.disabled">
              Incluir
            </button>            
          </div>
        </form>
      </div>
      <div class="form-right">
      </div>
    </div>

    <mat-card-header>
      <mat-card-title class="text-center">Lista</mat-card-title>
    </mat-card-header>
  
    <div class="table-responsive">
      <table mat-table [dataSource]="movimentosResponse" class="mat-elevation-z8">

        <ng-container matColumnDef="datMes">
          <th mat-header-cell *matHeaderCellDef> Mês </th>
          <td mat-cell *matCellDef="let movimento"> {{ movimento.datMes }} </td>
        </ng-container>

        <ng-container matColumnDef="datAno">
          <th mat-header-cell *matHeaderCellDef> Ano </th>
          <td mat-cell *matCellDef="let movimento"> {{ movimento.datAno }} </td>
        </ng-container>

        <ng-container matColumnDef="codProduto">
          <th mat-header-cell *matHeaderCellDef> Código do Produto </th>
          <td mat-cell *matCellDef="let movimento"> {{ movimento.codProduto }} </td>
        </ng-container>

        <ng-container matColumnDef="desProduto">
          <th mat-header-cell *matHeaderCellDef> Descrição do Produto </th>
          <td mat-cell *matCellDef="let movimento"> {{ movimento.desProduto }} </td>
        </ng-container>

        <ng-container matColumnDef="numLancamento">
          <th mat-header-cell *matHeaderCellDef> NR Lançamento </th>
          <td mat-cell *matCellDef="let movimento"> {{ movimento.numLancamento }} </td>
        </ng-container>

        <ng-container matColumnDef="desDescricao">
          <th mat-header-cell *matHeaderCellDef> Descrição </th>
          <td mat-cell *matCellDef="let movimento"> {{ movimento.desDescricao }} </td>
        </ng-container>

        <ng-container matColumnDef="valValor">
          <th mat-header-cell *matHeaderCellDef> Valor </th>
          <td mat-cell *matCellDef="let movimento"> R$ {{ movimento.valValor ?? 0 | number:'1.2-2' }} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </div>
  </mat-card-content>
</mat-card>
