/* Estilo para a área de conteúdo do modal */
.mat-dialog-content {
    background-color: #ffffff !important;  /* Cor de fundo sólida (pode ser ajustada) */
    padding: 20px;                         /* Adiciona espaçamento interno */
    border-radius: 8px;                    /* Borda arredondada para o conteúdo */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra suave para destacar o conteúdo */
}

/* Adicionando um fundo para o modal, se necessário */
.mat-dialog-container {
    background-color: blue !important; /* Deixe transparente para o container */
}

.float-right{
    float: right; /* Alinha o botão à direita */
}

.modal-footer {
    display: flex;
    justify-content: center;
    margin-top: 76px;
  }