<mat-dialog-content>
  <!-- Header -->
  <div class="modal-header">
    <div class="header-title">
      <label class="textoSemLink">{{this.data.title}}</label>
      <button mat-icon-button color="primary" mat-dialog-close class="float-right">
        <mat-icon>close</mat-icon>
      </button>
    </div>
  </div>

  <!-- Body -->
  <div class="modal-body">
    <form [formGroup]="formCliente" (ngSubmit)="onSubmit()">
      <!-- Cliente Fields -->
      <div class="row">
        <div class="col-md-4">
          <div class="form-group">
            <label for="nome">Nome</label>
            <input type="text" class="form-control" id="nome" formControlName="nome" placeholder="Nome Completo"
              required>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label for="email">E-mail</label>
            <input type="email" class="form-control" id="email" formControlName="email" placeholder="E-mail" required>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label for="dataNascimento">
              {{ tipoData }}
            </label>
            <input type="date" class="form-control" id="dataNascimento" formControlName="dataNascimento">
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-3">
          <div class="form-group">
            <label for="tipo">Tipo</label>
            <select class="form-control" formControlName="tipo" (ngModelChange)="selecionarTipo($event)" required>
              <option value="">Selecione</option>
              <option value="1">Física</option>
              <option value="2">Jurídico</option>
            </select>
          </div>
        </div>

        <div class="col-md-3" *ngIf="formCliente.get('tipo').value">
          <div class="form-group">
            <label for="cpfcnpj">
              {{ tipoDocumento }}
            </label>
            <input type="text" class="form-control" [mask]="maskCpfCnpj" id="cpfcnpj" formControlName="cpfcnpj"
              placeholder="{{ formCliente.get('tipo').value === '1' ? 'CPF' : 'CNPJ' }}" required>
          </div>
        </div>

        <div class="col-md-3">
          <div class="form-group">
            <label for="IE">IE</label>
            <input type="text" class="form-control" mask="00000000000" id="ie" formControlName="ie" placeholder="IE"
            [disabled]="formCliente.get('ie').disabled" >
          </div>
        </div>

        <div class="col-md-3">
          <div class="form-group">
            <label for="telefone">Telefone</label>
            <input type="text" class="form-control" id="telefone" formControlName="telefone" placeholder="Telefone"
              required>
          </div>
        </div>
      </div>

      <!-- Endereço Fields -->
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label for="cep">CEP</label>
            <input type="text" class="form-control" id="cep" mask="00000-000" formControlName="cep" placeholder="CEP" required>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label for="logradouro">Logradouro</label>
            <input type="text" class="form-control" id="logradouro" formControlName="logradouro"
              placeholder="Logradouro" required>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label for="bairro">Bairro</label>
            <input type="text" class="form-control" id="bairro" formControlName="bairro" placeholder="Bairro" required>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label for="cidade">Cidade</label>
            <input type="text" class="form-control" id="cidade" formControlName="cidade" placeholder="Cidade" required>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label for="estado">Estado</label>
            <input type="text" class="form-control" id="estado" formControlName="estado" placeholder="Estado" required>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label for="numero">Número</label>
            <input type="text" class="form-control" id="numero" formControlName="numero" placeholder="Número" required>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <div class="form-group">
            <label for="complemento">Complemento</label>
            <input type="text" class="form-control" id="complemento" formControlName="complemento"
              placeholder="Complemento">
          </div>
        </div>
      </div>
    </form>
  </div>

  <div class="modal-footer">
    <button mat-flat-button mat-dialog-close (click)="closeModal()" color="warn">
      <mat-icon>cancel</mat-icon>&nbsp;Cancelar
    </button>
    <button mat-flat-button style="margin-left: 14px;" (click)="onSubmit()" color="primary"
      [disabled]="!formCliente.valid">
      <mat-icon>done_all</mat-icon>&nbsp;Salvar
    </button>
  </div>

</mat-dialog-content>