<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4">
                <lbd-chart
                  [title]="'Clientes'"
                  [subtitle]="'Distribuição por Região'"
                  [chartClass]="'ct-perfect-fourth'"
                  [chartType]="investmentChartType"
                  [chartData]="investmentChartData"
                  [legendItems]="investmentChartLegendItems"
                  [withHr]="true"
                  [footerIconClass]="'fa fa-pie-chart'"
                  [footerText]="'Atualizado há 1 hora'">
                </lbd-chart>
            </div>
            <div class="col-md-8">
                <lbd-chart
                  [title]="'Evolução do Cadastro'"
                  [subtitle]="'Últimos 12 meses'"
                  [chartType]="portfolioChartType"
                  [chartData]="portfolioChartData"
                  [chartOptions]="portfolioChartOptions"
                  [chartResponsive]="portfolioChartResponsive"
                  [legendItems]="portfolioChartLegendItems"
                  [withHr]="true"
                  [footerIconClass]="'fa fa-line-chart'"
                  [footerText]="'Atualizado 5 minutos atrás'">
                </lbd-chart>
            </div>
        </div>
    </div>
</div>
