<mat-card>
  <mat-card-header>
    <mat-card-title>Lista de Clientes</mat-card-title>
    <mat-card-subtitle>Aqui está a lista dos seus clientes registrados</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <form [formGroup]="filtroForm" (ngSubmit)="buscarClientes()">
      <div class="row">
        <div class="col-md-2">
          <mat-form-field appearance="fill" class="full-width">
            <mat-label>Tipo</mat-label>
            <mat-select formControlName="tipo" placeholder="Parceiro">
              <mat-option value=''>Selecione</mat-option>
              <mat-option value='J'>Jurídica</mat-option>
              <mat-option value='F'>Fisica</mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div class="col-md-2">
          <mat-form-field appearance="fill" class="full-width">
            <mat-label>Nome</mat-label>
            <input matInput formControlName="nome" placeholder="nome">
          </mat-form-field>
        </div>

        <div class="col-md-2">
          <mat-form-field appearance="fill" class="full-width">
            <mat-label>Documento</mat-label>
            <input matInput formControlName="documento" placeholder=Documento>
          </mat-form-field>
        </div>

        <div class="col-md-2">
          <mat-form-field appearance="fill" class="full-width">
            <mat-label>Telefone</mat-label>
            <input matInput formControlName="telefone" placeholder=Telefone>
          </mat-form-field>
        </div>

        <div class="col-md-3" style="margin-top: 14px;">
          <button mat-raised-button color="primary" type="submit">Buscar Cliente</button>
          <button mat-button color="danger" type="button" (click)="limparFiltros()">Limpar</button>
        </div>
      </div>
    </form>
  </mat-card-content>
</mat-card>

<mat-card>

  <mat-card-content>
    
    <mat-card-header>
      <mat-card-title class="text-center">Lista de Clientes</mat-card-title>
    </mat-card-header>
  
    <div class="d-flex justify-content-left" style="margin-bottom: 10px; margin-left: 615px;">
      <button mat-raised-button color="primary" (click)="novoCliente()">Adicionar Cliente</button>
    </div>
  

    <div class="table-responsive">

      <table mat-table [dataSource]="clientes" class="mat-elevation-z8">

        <ng-container matColumnDef="tipo">
          <th mat-header-cell *matHeaderCellDef> Tipo </th>
          <td mat-cell *matCellDef="let cliente"> {{ getTipoDescricao(cliente.tipo) }} </td>
        </ng-container>

        <ng-container matColumnDef="nome">
          <th mat-header-cell *matHeaderCellDef> Nome </th>
          <td mat-cell *matCellDef="let cliente"> {{ cliente.nome }} </td>
        </ng-container>

        <ng-container matColumnDef="documento">
          <th mat-header-cell *matHeaderCellDef> Documento </th>
          <td mat-cell *matCellDef="let cliente"> {{ formatarDocumento(cliente.tipo, cliente.cpfcnpj) }} </td>
        </ng-container>

        <ng-container matColumnDef="data">
          <th mat-header-cell *matHeaderCellDef> Data </th>
          <td mat-cell *matCellDef="let cliente"> {{ formatarData(cliente.dataNascimento) }} </td>
        </ng-container>

        <ng-container matColumnDef="telefone">
          <th mat-header-cell *matHeaderCellDef> Telefone </th>
          <td mat-cell *matCellDef="let cliente"> {{ cliente.telefone }} </td>
        </ng-container>

        <ng-container matColumnDef="email">
          <th mat-header-cell *matHeaderCellDef> Email </th>
          <td mat-cell *matCellDef="let cliente"> {{ cliente.email }} </td>
        </ng-container>

        <ng-container matColumnDef="acao">
          <th mat-header-cell *matHeaderCellDef> Ação </th>
          <td mat-cell *matCellDef="let cliente">
            <button mat-button (click)="editarCliente(cliente)">Editar</button>
            <button mat-button (click)="confirmarExclusao(cliente)">Excluir</button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
      
    </div>
   
  </mat-card-content>
</mat-card>